<div id="homepage">
</div>


<script type="text/javascript">
    var data = {
        userSignedIn: <%= user_signed_in? %>
    }

    console.log(data.userSignedIn);

    $(function() {
      app.showHomePage("homepage",data);
    });
</script>
