<div id="listing"></div>
<script type="text/javascript">
     var data = {
        userSignedIn: <%= user_signed_in? %>
    }

  $(function() {
    app.showListingSpaceForm('listing',data);
  }); 
</script>
