/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

  
div#notice_wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    color: #fff;
    background: rgba(255,90,95,0.80);

    .alert, .notice {
      padding: 1.5rem 0;
      text-align: center;
      font-size: 1.45rem;
      margin: 0;
      font-weight: 700;
    }
}

  body {
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  overflow-x: hidden;
  font-size: 16px !important;
  background: #f5f5f5;
  color:#565a5c;
  text-rendering: optimizelegibility;
  /*background:rgba(0, 0, 0, 0.08);*/
}

#homepage
{
  background-image: image-url('appartment1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:fixed;
  min-width: 100%;
  min-height: 100%;
}

nav {
  background-color: transparent !important;
  width: 100%;
  border-color:transparent !important;
  .nav {
        a {
            font-size: 1.6rem !important;
            color: #fff !important;
        }
    }   

    a.navbar-brand
    {
        color:#fff !important;
        font-size:1.8rem !important;

    }

    .navbar-toggle {
      border-color: #0E0E0E !important;
      .icon-bar {
       background-color: #1B1A1A !important;
      }
    }

}

.listingNav{
  background-color:#FF5A5F !important;
}


.add-rent-btn
{
  border:solid 2px #fff;
  padding: 8px;
}

.middle-text
{
  vertical-align: middle;
  color: #fff;
  h1{
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top:40px;
  }
}

.how-it-works{
  background: rgba(85, 26, 139, 0.52);
  border-color:transparent;
  color:#fff;
  padding:10px 30px 10px 30px;
  margin-top:20px;
}

.find:hover{
    background:rgba(85, 26, 139, 0.56);
    border:none;
    border-color:transparent;
  }

.find{
  background: rgba(85, 26, 139, 0.56);
  border-color:transparent;
  color:#fff;
}

.content-footer
{
    background-color: rgba(0,0,0,0.6);

    
}

.list-space
{
  background:grey;
  padding:20px;
  color:#fff;
}
