<!DOCTYPE html>
<html>
<head>
  <title>RentalSpace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
    <div id="notice_wrapper">
        <p class="notice"><%= notice %></p>
    </div>
<% elsif alert %>
     <div id="notice_wrapper">
        <p class="alert"><%= alert %></p>
    </div>
<% end %>
<%= yield %>


<script type="text/javascript">
    $(document).ready(function(){
        setTimeout(function(){
            $('#notice_wrapper').fadeOut("slow",function(){
                $(this).remove();
            });
        },3000);
    });
</script>>    
</body>
</html>
